* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1A0DAB;
}

a.btn.btn-jumbo {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color:
}

a.btn.btn-jumbo:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
}

a.btn-jumbo {
  color: #5f6368;
}
a.btn-jumbo:hover {
  color: #222;
}

body {
  font-family: 'Roboto', sans-serif;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
}

footer a,
.header-right i {
  color: rgba(0,0,0,0.54);
}

header {
  width: 100%;
}

p {
  font-size: 12px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;

}

.buttons-container {
  margin: 30px 0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 95%;
  margin: auto;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  top: 60px;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.dropdown.hide {
  display: none;
}

.dropdown li {
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.float-lx {
  float: left;
}

.float-rx {
  float: right;
}

.footer-bottom {
  border-top: 1px solid #e4e4e4;
}

.footer-bottom li:first-child {
  padding-left: 0;
}

.footer-bottom li:last-child {
  padding-right: 0;
}

.header-right > ul > li,
.footer-bottom li {
  display: inline-block;
  padding: 0 5px;
}

.header-right li a,
footer a {
  line-height: 50px;
  font-size: 13px;
}
.header-right li  {
  line-height: 50px;
  font-size: 16px;
}

.header-right li a,
.header-right i:hover {
  color: rgba(0,0,0,0.87);
}


.header-right > ul {
  position: relative;
}

.jumbo {
  width: 60%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.jumbo img {
  height: 100px;
  margin: 20px 0;
}

.search-box {
  width: 90%;
  border: none;
}

.search-container:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.search-container {
  padding: 5px;
  width: 480px;
  height: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
}

/*DELETE?*/
